.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 13 20px;
  height: 48px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  gap: 8px;
  margin: auto 0;
}
